@model ErrorViewModel

<div class="container">

      <section class="section error-404 min-vh-100 d-flex flex-column align-items-center justify-content-center">
        <h1>@ViewBag.ErrorCode</h1>
        <h2>@ViewBag.ErrorMessage</h2>
        <a class="btn" href="/">Back to home</a>
        <img src="~/img/not-found.svg" class="img-fluid py-5" alt="Error Page">
      </section>

</div>
