@page
@model LoginModel

<div class="container">
    <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">

            <div class="card mb-3">

              <div class="card-body">

                <div class="pt-4 pb-2">
                  <h5 class="card-title text-center pb-0 fs-4">Login to Your Account</h5>
                  <p class="text-center small">Enter your username & password to login</p>
                </div>

                <form id="account" method="post">
				  <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                  <div class="col-12 mb-3">
                    <label for="yourUsername" class="form-label">E-mail</label>
					<input asp-for="Input.Email" class="form-control" id="yourUsername" autocomplete="username" aria-required="true" required />
                  </div>

                  <div class="col-12 mb-3">
                    <label for="yourPassword" class="form-label">Password</label>
					<input asp-for="Input.Password" class="form-control" id="yourPassword" autocomplete="current-password" aria-required="true" required />
                  </div>

                  <div class="col-12 mb-3">
                    <div class="form-check">
					  <label asp-for="Input.RememberMe" class="form-check-label">
                        <input class="form-check-input" asp-for="Input.RememberMe" id="rememberMe" />
                        @Html.DisplayNameFor(m => m.Input.RememberMe)
                      </label>
                    </div>
                  </div>
                  <div class="col-12 mb-2">
					<button id="login-submit" type="submit" class="btn btn-primary w-100">Login</button>
                  </div>
                  <div class="col-12">
					<p class="small mb-2">
                        <a id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a>
                    </p>
                    <p class="small mb-2">
                        <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Create an account</a>
                    </p>
                    <p class="small mb-2">
                        <a id="resend-confirmation" asp-page="./ResendEmailConfirmation">Resend email confirmation</a>
                    </p>
                  </div>
                </form>

              </div>
            </div>

          </div>
        </div>
      </div>

    </section>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
